//Peach Bliss - Light Color Palette
$peach: #DF8E83;
$light-peach: #E7C0AA;
$sand: #DBD2CA;
$bliss-light-green: #D9DCC2;
$bliss-green: #A6B4AB;

//Sober - Dark Color Palette
$white: #FEFEFE;
$sober-dark-green: #62796F;
$sober-green: #A0B3A8;
$light-mint: #DAE0D8;
$brown: #967651;
