$slides: 2;
$delay: 12s; // Time to cycle everything

.carousel {
  margin: auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	> * {
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
		left: 0;
		background-size: cover;

		@for $i from 1 through $slides {
			&:nth-child(#{$i}) {
				animation: fade#{$i} $delay infinite;
			}
			@keyframes fade#{$i} {
				@for $j from 0 through $slides {
					#{percentage($j/$slides)} {
						opacity: if($i==$j+1 or ($i==1 and $j==$slides), 1, 0);
					}
				}
			}
		}
	}
}

/* Mobile */
@media (max-width: 1024px) {
  $slides: 6;
  $delay: 18s; // Time to cycle everything

  .carousel {
    > * {
      @for $i from 1 through $slides {
        &:nth-child(#{$i}) {
          animation: fade#{$i} $delay infinite;
        }
        @keyframes fade#{$i} {
          @for $j from 0 through $slides {
            #{percentage($j/$slides)} {
              opacity: if($i==$j+1 or ($i==1 and $j==$slides), 1, 0);
            }
          }
        }
      }
    }
  }
}
