.heading {
  font-size: 5rem;
  margin-bottom: 1rem;
  animation: fadeIn 8s;

  span {
    font-size: 65%;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Tablet and Smaller Desktop */
@media (max-width: 1024px) {
  .heading {
    font-size: 3.25rem;
    margin-bottom: 1rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .heading {
    font-size: 3.5rem;
  }
}
