@import '../../styles/palette.scss';

$description-panel-width: 528px;
$photo-panel-width: 472px;
$sliders-gap: 11px;

.photoPanel {
  display: flex;
  flex-wrap: wrap;
  gap: $sliders-gap;
  width: calc($photo-panel-width - 1px);
  background-color: $white;
}

.carouselContainer {
  height: 312px;
  width: calc(50% - $sliders-gap/2);

  &:last-child {
    height: 386px;
    width: 100%;
  }
}

.descriptionPanel {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc($description-panel-width - 1px);
  background-color: $white;
  background-image: url('/card_texture.png');
  padding: 50px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Tablet and Smaller Desktop */
@media (max-width: 1024px) {
  $description-panel-width: 369px;
  $photo-panel-width: 331px;
  $sliders-gap: 8px;
  
  .photoPanel {
    gap: $sliders-gap;
    width: calc($photo-panel-width - 1px);
  }
  
  .carouselContainer {
    display: none;
  
    &:last-child {
      display: block;
      height: 100%;
    }
  }
  
  .descriptionPanel {
    width: calc($description-panel-width - 1px);
    padding: 32px;
  }
}
