@import '../../styles/palette.scss';

.container {
  background-color: $white;
  border: 1px solid $bliss-green;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 32px 0 48px;
}

.photoPanel {
  width: 280px;
  height: 280px;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
