.container {
  width: 375px;
  padding: 20px 0;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 4px;
}

.table {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  fill: black;
  position: relative;
  width: 40px;
  animation: pulse 1.5s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 300px;
    padding: 16px 0;
    border-width: 2px;
  }
  
  .heading {
    font-size: 1.25em;
    margin-bottom: 2px;
  }
  
  .table {
    width: 245px;
  }
  
  .cell {
    height: 35px;
    width: 35px;
  }
  
  .heart {
    width: 35px;
  }
}
